
<div class="row">
  <div class="col-sm-12">
    <h3>Portfolio</h3>

    <h4>Summary</h4>

    <table class="table table-striped">
      <tr>
        <th>Cost Basis</th>
        <th>Current Value</th>
        <th>P&L</th>
        <th>1D</th>
        <th>7D</th>
        <th>30D</th>
      </tr>
      <tr>
        <td>{{ portfolio.costBasis | currency }}</td>
        <td>{{ portfolio.value | currency }}</td>
        <td ng-class="{ negative: portfolio.profit < 0, positive: portfolio.profit > 0 }">{{ portfolio.profit | currency }}</td>
        <td  ng-class="{ negative: portfolio.oneDay < 0, positive: portfolio.oneDay > 0 }">{{ portfolio.oneDay | currency }}</td>
        <td ng-class="{ negative: portfolio.week < 0, positive: portfolio.week > 0 }">{{ portfolio.week | currency }}</td>
        <td ng-class="{ negative: portfolio.month < 0, positive: portfolio.month > 0 }">{{ portfolio.month | currency }}</td>
      </tr>
    </table>

    <h4>Assets</h4>
    <input ng-model="symbolFilter" type="text"
           class="form-control margin-bot-sm"
           placeholder="Filter by symbol">
    <table class="table table-striped">
      <tr>
        <th>Stock</th>
        <th>Quantity</th>
        <th>Cost Basis</th>
        <th>Current Value</th>
        <th>P&L</th>
        <th>1D</th>
        <th>7D</th>
        <th>30D</th>
        <th>Trade</th>
      </tr>
      <tr>
        <td>Cash</td>
        <td></td>
        <td>{{ startingFunds | currency }}</td>
        <td>{{ funds | currency }}</td>
        <td ng-class="{ negative: stock.oneDay < 0, positive: stock.oneDay > 0 }"
            colspan="5">{{ funds - startingFunds | currency }}</td>
      </tr>
      <tr ng-repeat="(_, holding) in stocks | stockFilter:symbolFilter">
        <td>{{ holding.stock }}</td>
        <td>{{ holding.quantity }}</td>
        <td>{{ holding.cost | currency }}</td>
        <td>{{ holding.summary.value | currency }}</td>
        <td ng-class="{ negative: holding.summary.profit < 0, positive: holding.summary.profit > 0 }">{{ holding.summary.profit | currency }}</td>
        <td ng-class="{ negative: holding.summary.performance.oneDay < 0, positive: holding.summary.performance.oneDay > 0 }">{{ holding.summary.performance.oneDay | currency }}</td>
        <td ng-class="{ negative: holding.summary.performance.week < 0, positive: holding.summary.performance.week > 0 }">{{ holding.summary.performance.week | currency }}</td>
        <td ng-class="{ negative: holding.summary.performance.month < 0, positive: holding.summary.performance.month > 0 }">{{ holding.summary.performance.month | currency }}</td>
        <td><a ui-sref="main.trade({ symbol: holding.stock })">Trade</a></td>
      </tr>
    </table>
  </div>
</div>
