
<div class="row">
  <div class="col-sm-12">
    <h3>Portfolio</h3>

    <h4>Summary</h4>

    <table class="table table-striped">
      <tr>
        <th>Cost Basis</th>
        <th>Current Value</th>
        <th>P&L</th>
        <th>1D</th>
        <th>7D</th>
        <th>30D</th>
      </tr>
      <tr>
        <td>{{ portfolio.costBasis | currency }}</td>
        <td>{{ portfolio.value | currency }}</td>
        <td>{{ portfolio.profit | currency }}</td>
        <td>{{ portfolio.oneDay | currency }}</td>
        <td>{{ portfolio.week | currency }}</td>
        <td>{{ portfolio.month | currency }}</td>
      </tr>
    </table>

    <h4>Assets</h4>
    <input ng-model="symbolFilter" type="text"
           class="form-control margin-bot-sm"
           placeholder="Filter by symbol">
    <table class="table table-striped">
      <tr>
        <th>Stock</th>
        <th>Quantity</th>
        <th>Cost Basis</th>
        <th>Current Value</th>
        <th>P&L</th>
        <th>1D</th>
        <th>7D</th>
        <th>30D</th>
        <th>Trade</th>
      </tr>
      <tr ng-repeat="(_, holding) in stocks | stockFilter:symbolFilter">
        <td>{{ holding.stock }}</td>
        <td>{{ holding.quantity }}</td>
        <td>{{ holding.cost | currency }}</td>
        <td>{{ holding.summary.value | currency }}</td>
        <td>{{ holding.summary.profit | currency }}</td>
        <td>{{ holding.summary.performance.oneDay | currency }}</td>
        <td>{{ holding.summary.performance.week | currency }}</td>
        <td>{{ holding.summary.performance.month | currency }}</td>
        <td><a ui-sref="main.trade({ symbol: holding.stock })">Trade</a></td>
      </tr>
    </table>
  </div>
</div>
