
<div id="date-bar">
  <span><b>Start:</b> {{ startDate | date:'MM/dd/yyyy' }}</span>

  <span>
    <b>Current:</b>
    <input type="text"
           uib-datepicker-popup="MM-dd-yyyy"
           ng-model="currentDate"
           is-open="opened"
           datepicker-options="dateOptions"
           close-text="Close"
           ng-click="toggleOpened()"
           ng-change="changeDate(currentDate)"
           class="form-control"
           id="date-selector">
  </span>

  <span><b>End:</b> {{ endDate | date:'MM/dd/yyyy' }}</span>
</div>
