
<div id="date-bar">

  <span>Start: {{ startDate | date:'MM-dd-yyyy' }}</span>

  <span id="date-selector">
    Current:
    <span class="input-group">
      <input type="text"
             uib-datepicker-popup="MM-dd-yyyy"
             ng-model="currentDate"
             is-open="opened"
             datepicker-options="dateOptions"
             close-text="Close"
             ng-click="toggleOpened()"
             ng-change="changeDate(currentDate)"
             class="form-control">
             <span class="input-group-btn">
               <button ng-click="toggleOpened()"
                       type="button"
                       class="btn btn-default" ><i class="glyphicon glyphicon-calendar"></i>
               </button>
             </span>
    </span>
  </span>

  <span>End: {{ endDate | date:'MM-dd-yyyy' }}</span>

</div>
