
<div class="row">
  <div class="col-sm-12">
    <h3>Settings</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-xs-12">

    <div>
      <div class="btn-group">
        <label ng-model="timeTravel" ng-change="updateTimeTravel()"
               class="btn btn-primary" uib-btn-radio="true">Time Travel</label>
        <label ng-model="timeTravel" ng-change="updateTimeTravel()"
               class="btn btn-primary" uib-btn-radio="false">Don't</label>
      </div>
    </div>

  </div>
</div>

