
<input ng-model="symbolFilter" type="text"
       class="form-control margin-bot-sm"
       placeholder="Filter by symbol">

<table class="table table-striped">
  <tr>
    <th>Symbol</th>
    <th>Price</th>
    <th>1D</th>
    <th>7D</th>
    <th>30D</th>
    <th>Trade</th>
  </tr>
  <tr ng-repeat="(symbol, stock) in stocks | stockFilter:symbolFilter">
    <td>{{ symbol }}</td>
    <td>{{ stock.price | currency }}</td>
    <td>{{ stock.oneDay | currency }}</td>
    <td>{{ stock.week | currency }}</td>
    <td>{{ stock.month | currency }}</td>
    <td><a ui-sref="main.trade({ symbol: symbol })">Trade</a></td>
  </tr>
</table>
