
<input ng-model="symbolFilter" type="text"
       class="form-control margin-bot-sm"
       placeholder="Filter by symbol">

<table class="table table-striped">
  <tr>
    <th>Symbol</th>
    <th>Price</th>
    <th>1D</th>
    <th>7D</th>
    <th>30D</th>
    <th>Trade</th>
  </tr>
  <tr ng-repeat="stock in stocks |
        stockFilter:symbolFilter |
        orderBy:'symbol'">
    <td>{{ stock.symbol }}</td>
    <td>{{ stock.price | currency }}</td>
    <td ng-class="{ negative: stock.oneDay < 0, positive: stock.oneDay > 0 }">{{ stock.oneDay | currency }}</td>
    <td ng-class="{ negative: stock.week < 0, positive: stock.week > 0 }">{{ stock.week | currency }}</td>
    <td ng-class="{ negative: stock.month < 0, positive: stock.month > 0 }">{{ stock.month | currency }}</td>
    <td><a ui-sref="main.trade({ symbol: stock.symbol })">Trade</a></td>
  </tr>
</table>
