
<primary-navbar stats="stats"></primary-navbar>

<div class="container">
  <div class="row">
    <div class="col-md-5 col-sm-12">
      <h2>Stock Index</h2>
      <stock-index stocks="currentStocks"></stock-index>
    </div>

    <div class="col-md-7 col-sm-12">
      <div id="trading-day-head">
        <h2 class="h-inline">Trading Day</h2>
        <button ng-click="previousDay()"
                ng-disabled="atStart || !settings.timeTravel"
                ng-if="settings.timeTravel"
                class="btn btn-default day-btn">Previous Day</button>
        <button ng-click="nextDay()"
                ng-disabled="atEnd"
                class="btn btn-default day-btn">Next Day</button>
      </div>
      <div ui-view="dateSelector"></div>
      <div ui-view="content"></div>
    </div>

  </div>
</div>
