
<div class="row">
  <div class="col-sm-12">
    <h3>Trade</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-push-6 col-xs-12">
    <table class="table table-striped">
      <tr>
        <th colspan="2">Available Funds</th>
      </tr>
      <tr>
        <td colspan="2">{{ funds | currency }}</td>
      </tr>
      <tr>
        <th colspan="2">Transaction Status</th>
      </tr>
      <tr>
        <td colspan="2">{{ transaction.valid ? "VALID" : "INVALID" }}</td>
      </tr>
      <tr>
        <th colspan="2">Stock Holdings</th>
      </tr>
      <tr>
        <th>Stock</th>
        <th>Quantity</th>
      </tr>
      <tr ng-repeat="(_, stock) in stocks">
        <td>{{ stock.stock }}</td>
        <td>{{ stock.quantity }}</td>
      </tr>
    </table>
  </div>
  <div class="col-sm-6 col-sm-pull-6 col-xs-12">
    <form ng-submit="processTransaction()" id="trade-form">

      <select ng-model="transaction.stock" class="form-control">
        <option value='' selected>-- Select Stock --</option>
        <option ng-repeat="symbol in symbols">{{ symbol }}</option>
      </select>

      <select ng-model="transaction.type" class="form-control">
        <option value='' selected>-- Select Transaction Type --</option>
        <option value="buy">Buy</option>
        <option value="sell">Sell</option>
      </select>

      <input type="number" ng-model="transaction.quantity"
                           ng-min="1"
                           class="form-control" placeholder="Quantity">

      <input type="date" ng-model="transaction.date"
                         class="form-control" disabled>

      <input type="number" value="{{ transaction.stockPrice }}"
                           class="form-control" readonly>

      <input type="number" value="{{ transaction.total }}"
                           class="form-control" placeholder="Total"
                                                readonly>

      <input ng-disabled="!transaction.valid" type="submit"
                                              class="btn btn-success btn-block" >

    </form>
  </div>
</div>
