
/*
  * layout
  * modules
*/

/* layout */
.margin-bot-sm {
  margin-bottom: 15px;
}

/* modules */
.form-inline {
  display: inline;
}

#date-bar {
  display: flex;
  justify-content: space-between;
}

#trade-form {
  > * {
    margin: 0 0 10px 0;
  }
}
