
/*
  * layout
  * modules
  * typography
*/

/* layout */
.margin-bot-sm {
  margin-bottom: 15px;
}

/* modules */
.form-inline {
  display: inline;
}

.h-inline {
  display: inline;
}

#date-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #1b95e0;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2em;
}

#date-selector {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .input-group  {
    width: 70%;
    display: inline-table;
  }
}

#trade-form {
  > * {
    margin: 0 0 10px 0;
  }
}

#trading-day-head {
  display: flex;
  align-items: center;
}

#tomorrow-btn {
  margin: 9px 0 0 15px;
}

/* typography */
.negative {
  color: red;
}

.positive {
  color: green;
}
