
/*
  * layout
  * modules
*/

/* layout */
.margin-bot-sm {
  margin-bottom: 15px;
}

/* modules */
.form-inline {
  display: inline;
}

#date-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#date-selector {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .input-group  {
    width: 70%;
    display: inline-table;
  }
}

#trade-form {
  > * {
    margin: 0 0 10px 0;
  }
}
