
<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header">
      <a ui-sref="main" class="navbar-brand">Futuregard</a>
    </div>
    <p class="navbar-text">Current cash: {{ stats.currentCash | currency:'$':0 }}</p>
    <p class="navbar-text">Days Remaining: {{ stats.daysRemaining | number:0 }}</p>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Navigate<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a ui-sref="main.portfolio">Portfolio</a></li>
          <li><a ui-sref="main.trade">Trade Action</a></li>
          <li><a ui-sref="main.transactions">Trade History</a></li>
          <li><a ui-sref="main.settings">Settings</a></li>
        </ul>
      </li>
    </ul>

  </div>
</nav>
